body {
    margin: 0%;
    padding: 0;
    height: 100vh;
    background-image: url('../img/Tipos-Pokemon.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-color: rgb(177, 177, 177); 
    background-attachment: fixed; 
}
h2 {
    background-color: rgba(223, 209, 91, 0.8);
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Pokemon', sans-serif;
    font-size: 5rem;
    margin-top: 20px;
}

/* Estilos de la barra de navegación */
.nav {
    grid-area: nav;
    background-color: rgba(45, 45, 45, 0.8);
    color: #fff;
    padding: 20px;
    font-size: 18px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin-bottom: 15px;
}

.nav a {
    display: block;
    text-decoration: none;
    background-color: #ffcb05;
    color: #2b2b2b;
    padding: 12px 18px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.nav a:hover {
    background-color: #f28c00;
    color: white;
    transform: scale(1.05);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}